
/* Grid projects */
#grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
#grid > div {
    background-color: #666;
    color: white;
    font-size: 1em;
    padding: 10px;
}

.one_project {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#projects .one_project img {
    width: 50px;
}